.select-order-id{
    display: inline-block !important;
    width: 80% !important;
}
.mail-detail, .add-product{
    padding-left: 40px;
    color: green;
}
.text-edit-container{
    padding: 40px;
}
