.events li { 
  display: flex; 
  color: #999;
}

.events time { 
  position: relative;
  padding: 0 1.5em;  }

.events time::after { 
   content: "";
   position: absolute;
   z-index: 2;
   right: 0;
   top: 0;
   transform: translateX(50%);
   border-radius: 50%;
   background: #fff;
   border: 1px #ccc solid;
   width: .8em;
   height: .8em;
}
 .done::after{
 
  background: 1px #198754    !important;
}
.done::before{

   border-left: 1px #198754   solid !important;
}


.events span {
  padding: 0 1.5em 1.5em 1.5em;
  position: relative;
}

.events span::before {
   content: "";
   position: absolute;
   z-index: 1;
   left: 0;
   height: 100%;
   border-left: 1px #ccc solid;
}

.events strong {
   display: block;
   font-weight: bolder;
}

.events { margin: 1em;  }
.events, 
.events *::before, 
.events *::after { box-sizing: border-box; font-family: arial; }





.progress-customize {
  position: relative;
  display: flex;
}
.progress-customize .progress-customize-track {
  position: absolute;
  top: 5px;
  /* width: 100%; */
  height: 5px;
  background-color: #dfe3e4;
  z-index: 0;
}
.progress-customize .progress-customize-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.progress-customize .progress-customize-step:last-child:after {
  display: none;
}
.progress-customize .progress-customize-step:before {
  content: "\f00c";
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 4px solid #dfe3e4;
  border-radius: 100%;
  color: transparent;
  box-sizing: unset;
}
.progress-customize .progress-customize-step:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: #dfe3e4;
  z-index: 0;
}
.progress-customize .progress-customize-step.is-active {
  color: #2183dd;
}
.progress-customize .progress-customize-step.is-active:before {
  border: 4px solid #777;
  animation: pulse 2s infinite;
  
}
.progress-customize .progress-customize-step.is-complete {
  color: #090;
}
.progress-customize .progress-customize-step.is-complete:before {
 
  font-size: 10px;
  
  background: #090;
  border: 4px solid transparent;
}
.progress-customize .progress-customize-step.is-complete:after {
  background: #090;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
 }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
 }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
 }
}
@keyframes nextStep {
  0% {
    width: 0%;
 }
  100% {
    width: 100%;
 }
}
.progress-customize-container {
  width: 350px;
}
