.name-oder-edit{
    min-width: 768px;
    max-width: 1100px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 40px;
    padding-right: 155px;
}
.name-oder-edit button{
    float: right;
}
.name-oder-edit h3{
    margin: 0;
    float: left;
    width: 50%;
    
}


.detail-edit-container{
    font-size: 15px;
    padding: 40px;
    padding-bottom: 0;
    
    
}
.text-edit-container{
    padding: 40px;
}
.menu-back-create-purchase-order h4{
    padding: 0 40px;
    font-weight: 100;
    margin: 20px 0;
}
.edit-quanity{
    font-size: 15px;
}
.mail-detail, .add-product{
    padding-left: 40px;
    color: green;
}
