.wrapper{
  background-color: #f5f5f5;
  width: 805px;
  height: 750px;
  display: block;
  justify-content: center;
}

.wrapper-content{
  width:758px;
  height:590px;
  background-color: #fff;
}

.add,
.add:hover {
  font-weight: bold;
  color: #4caf50;
}
.filter .filter:hover {
  font-weight: bold;
  color: gray;
}

.searchaccount {
  height: 40px;
  width: 660px;
}
.searchfield-borderless {
  border-left: none;
  border-radius: 0px 10px 10px 0px !important;
}

.span-searchiconslot {
  background-color: white !important;
  border-right: none !important;
  border-radius: 10px 0px 0px 10px !important;
}


.wrapper-table{
  width: 660px;
}

.supplierid-color {
  color: #4A94FC;
}


.addaccountmodal-done {
  background-color: rgb(0, 86, 129);
  color: white;
}


.tab-fixed{
  background-color: white;
  height: 95px;
  width: 805px;
}

.button {
  width: 120px;
  height: 50px;
  border-radius: 15px;
}

.wrapper_create{
  width:740px;
  height: 440px;
  background-color:white;
  border-radius: 10px;

}

.wrapper_suppliername{
  width:640px;
  height:85px;
}

.wrapper-spacetop{
  margin-top:  95px;
}