.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0px 1px 13px 0px #0000005e;
}

.navigation-bar-right {
  display: flex;
  width: 500px;
  justify-content: center;
}
.navigation-bar-left {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}
.navigation-bar-right-button {
  margin: 0 5px;
  /* border-radius: 12px !important; */
  min-width: 80px;
  border: 0 !important;
}

.container-title-bar {
  /* margin-left: 20px; */
}
.container-title-bar h3 {
  /* margin-bottom: 0 !important; */
  font-weight: bold;
  color: #4a94fc !important;
}
.title-bar-color {
  font-weight: bold;
  color: #4a94fc !important;
}
