.modal-preview-quote-request{
    display: block !important;
    background-color: #0000007d !important;
}
.modal-dialog-preview-quote-request{
    max-width: 600px !important;
}
.modal-content-preview-quote-request{
    height: 677px;
    border-radius: 15px !important;
}
.btn-cancel-preview{
    background: white !important;
    color: black !important;
    border: 0 !important;
}
.design-textarea{
    border: 1px solid #F1F1F1;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border-radius: 2px;
    resize: none;
    height: 200px;
}
.mail-content-css p{
    margin-bottom: 0;
    padding: 0;
}