.container-profile-client{
    height: 500px;
    max-width: 1920px;
}

.row-profile-client{
    height: 100% !important;

    align-items: flex-start;
    
    justify-content: space-around;

}
.avatar-profile-client{
    height: 60px;
    width: 60px;
}
.avatar-profile-client-container{
    display: flex;
    align-items: center;
    
}
.avatar-profile-client-container h4{
    margin-bottom: 0 !important;
    
}
.avatar-profile-client{
    border-radius: 50px;
    
}
.name-role-profile-client{
    margin-left: 20px;
}
.form-group-profile-client{
    margin: 10px 0;
}
.title-profile-client{
    
    height: 80px;
    padding: 30px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid black;
}
.my-profile-client{
    padding: 30px !important;
    background: white;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 35%);
}
.edit-profile-client{
    padding: 30px !important;
    background: white;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 35%);
}

    


   @media only screen and (min-width: 1400px){
    
    .container-profile-client{
        max-width: 1500px !important;
    }
}


.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}
.profile-pic input {
    display: none;
}
.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 100px;
    z-index: 0;
}
.profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}
.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}
