.list-receipt-table-container{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 35%);
}
.receipt-table{
    font-size: 15px;
    width: 100%;
    padding: 50px;
}
.table-container{
    display: block;
    overflow-x: auto;
}
.button-paging {
    width: 50px;
    display: flex;
    justify-content: space-around;
}
.button-paging img{
    width: 15px;
}
.paging-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-purchase{
    position: relative;
    margin-bottom: 25px;
}
.search-purchase img{
    left: 10px;
    width: 25px;
    top: 10px;
    height: 25px;
    position: absolute;
    filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(91%) contrast(88%);
}
.search-purchase input{
    padding-left: 50px;
    height: 50px;
}
