.container-create-account{
    background-color: white;
    padding: 30px !important;
}
.avatar-upload-contain {
    position: relative;
    border-radius: 50% !important;
    overflow: hidden;
    height: 150px;
    width: 150px;
}
.avatar-upload-contain:hover > .change-avatar-edit{
    bottom: 0px;
}
.avatar-upload-contain img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.change-avatar-edit{
    transition: 1s;
    width: 200px;
    height: 60px;
    background: #00000073;
    bottom: -60px;
    position: absolute;
    text-align: center;
    color: white;
}
