.info-detai-receipt-container{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;


}
.info-detai-receipt{
    display: flex;
    justify-content: flex-start;
    max-width: 600px;
}
.info-detai-receipt > p{
    width: 300px;
}
.container-good-issue-detail{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 35%);
    margin-bottom: 20px;
}