.wrapper{
    background-color: #f5f5f5;
    width: 805px;
    height: 750px;
    display: block;
    justify-content: center;
  }
  
  .wrapper-content{
    width:758px;
    height:590px;
    background-color: #fff;
  }
  .wrapper-empty{
    width:758px;
    height:590px;
  }
  .add,
  .add:hover {
    font-weight: bold;
    color: #4caf50;
  }
  .filter .filter:hover {
    font-weight: bold;
    color: gray;
  }
  
  .searchaccount {
    height: 40px;
    width: 660px;
  }
  .searchfield-borderless {
    border-left: none;
    border-radius: 0px 10px 10px 0px !important;
  }
  
  .span-searchiconslot {
    background-color: white !important;
    border-right: none !important;
    border-radius: 10px 0px 0px 10px !important;
  }
  
  
  .wrapper-table{
    width: 660px;
  }
  
  .imagelogo{
    width:140px;
    height: 140px;
  }

  .id-color{
    color:#4A94FC
  }

  .button-options {
    width: 170px;
    color: black;
    
  }
  .button-options-account {
    border-right: none !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
   
  }
  
  .button-options-role {
    border-left: none !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
  }
  
  