.list-search{
    position: relative;
    z-index: 99999;
    list-style: none;
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 35%);
    padding-left: 0rem !important;
    overflow-y:scroll;
    height: 200px;

  }
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button.close >  span.sr-only {
    display: none;
}
.item-search{
    background: white;
    padding-left: 0rem !important;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.avt-product{
    width: 50px !important;
    height: 50px !important;
    position: relative !important;
    filter: none !important;
    left: auto !important;
    top: auto !important;
}

.info-item-search{
    display: flex;
  
    justify-content: space-between;
    height: 50px;
    align-items: center;
    
}
.text-add-product{
    color: #6cd46c;
}
.search-container-customize{
    position: relative;
    width: 100%;
    height: 62px;
}

.form-input-search-customize{
width: 100%;
    position: absolute;
}