.wrapper{
    background-color: #f5f5f5;
    width: 805px;
    height: 750px;
    display: block;
    justify-content: center;
  }
  
  .wrapper-content{
    width:758px;
    height:590px;
    background-color: #fff;
  }
  .wrapper-empty{
    width:660px;
    height:100px;
  }
  .add,
  .add:hover {
    font-weight: bold;
    color: #4caf50;
  }
  .filter .filter:hover {
    font-weight: bold;
    color: gray;
  }
  .btn-reject{
    width:115px;
    height:45px;
  }
  .btn-adjust{
    height:45px; width:160px;
  }
  
  .searchaccount {
    height: 40px;
    width: 660px;
  }
  .searchfield-borderless {
    border-left: none;
    border-radius: 0px 10px 10px 0px !important;
  }
  
  .span-searchiconslot {
    background-color: white !important;
    border-right: none !important;
    border-radius: 10px 0px 0px 10px !important;
  }
  
  
  .wrapper-table{
    width: 660px;
  }
  
  .imagelogo{
    width:140px;
    height: 140px;
  }

  .id-color{
    color:#4A94FC
  }


/* todo: muiten quay xuong */
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}