@font-face {
  font-family: "san-fransisco" ;
  src:local("san-fransisco"), url('./San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "san-fransisco";
  
}


body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
::selection{
  color: #fff;
  background: #042333;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #042333;
  /* padding: 6px 14px; */
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 240px
}
.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name{
  
  font-size: 20px;
  font-weight: 400;
}
.logo_content .logo .logo_name img{
    width: 100px;
    height: 32px;
    
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar ul{
 
  padding-left: 0rem !important;
}
.sidebar ul li{
  position: relative;
  /* height: 50px; */
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}
/* .sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5 ease;
}
.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #1d1b31;
} */
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* border-radius: 12px; */
  white-space: nowrap;
  transition: all 0.4s ease;

  /* background: #fff; */
}
.sidebar ul li a:hover{
  color: #042333;
  background: #fff;
 


}
.sidebar ul li a img{
  filter: brightness(0) invert(1)



}
.sidebar ul li a:hover img{
   filter: invert(9%) sepia(12%) saturate(6753%) hue-rotate(172deg) brightness(101%) contrast(97%);
 
}

.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar ul li i img{
   
    width: 18px;
}

.sidebar .links_name{
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidebar.active .links_name{
  transition: 0s;
  opacity: 1;
  pointer-events: auto
}
.sidebar .profile_content{
  color: #fff;
  
  left: 0;
  width: 100%;
}
.sidebar .profile_content .profile{
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile{
  background: #05212f;
}
.profile_content .profile .profile_details{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar.active  .nav_list{
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
}
li.item-name {
  cursor: pointer;
  padding-left: 40px;
  text-align: start;
  line-height: 25px !important;
}
li.item-name:hover {
  font-weight: 600 !important;
}

.sidebar.active  .profile .profile_details{
  opacity: 1 ;
  pointer-events: auto;
}
.profile .profile_details img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  
  border: 2px solid gray;
  border-radius: 30px;
}
.profile .profile_details .name_job{
  cursor: pointer;
  margin-left: 10px;
}
.profile .profile_details .name{
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job{
  font-size: 12px;
}
.profile .menu-icon-notification-logout{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #05212f;
}
.menu-icon-notification-logout img{
    width: 23px;
}
.badge-customize{
  position: absolute;
  top: 21px;
  font-size: 9px !important;
  left: 26px;
  
  background: red;
  border-radius: 50% !important;
}
.sidebar.active .profile .menu-icon-notification-logout{
  
  left: 88%;
}
.sidebar.active .profile .menu-icon-notification-logout{
  background: none
}
.home_content{
  overflow-y:auto;
  
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  background: #F5F5F5;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.2px); */
  transition: all 0.5s ease;
}
/* .sidebar.active ~ .home_content{
  z-index: 100;
} */
/* .home_content .text{
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px;
} */
.sidebar.active ~ .home_content{
  width: calc(100% - 240px);
  left: 240px;
}
.logout_content{
    bottom: 0;
    position: absolute;
}
.nav-side-bar{
  overflow-y: auto;
  overflow-x: hidden;
  height: 560px;
}
.nav-side-bar::-webkit-scrollbar {
  display: none;
}

.hide-true{
  display: none;
  
}
.hide-true{
  border:0;
  width: 35px;
  height: 35px;
}
.hide-false .profile_details p{
  font-size: 22px;
  padding-left: 15px;
}
.hide-false li a span{
  
  padding-left: 25px;
}

.top-ul-true{
  margin: 0;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
 
/* .list-notification::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.list-child-item{
  height: 30px;
  line-height: 29px !important;
}
.list-child-item span:hover{
  color: #042333;
  background: #fff;
}
.pointer {cursor: pointer;}