.option-purchase{
    font-size: 16px;
   
    height: 45px;

}
.option-purchase ul li{
    float:  left;
    list-style-type: none;
    padding-right: 30px;
}
.option-purchase ul li img{
    width: 25px;
}
.purchase-order{
    padding: 0 30px !important;
}
